# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Django secrets
local_settings.py

# Migrations cache
**/migrations/__pycache__/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build
dist/
build/
*.egg-info/
