# Core Dependencies
Django==6.0.1
djangorestframework==3.16.1

# Environment Variables
python-dotenv==1.2.1

# CORS
django-cors-headers==4.9.0

# Database
dj-database-url==3.1.2
psycopg2-binary==2.9.11

# Static Files (Production)
whitenoise==6.11.0

# Production Server
gunicorn==25.1.0

# Testing
pytest==9.0.2
pytest-django==4.12.0
pytest-cov==5.0.0

# Code Quality
flake8==7.1.1
black==24.8.0

# Documentation
markdown==3.7
